{% extends 'base/base.html' %}

{% block navbar %}{% endblock navbar %}

{% block content %}
{% if validlink %}

<h1> Reestablecer contraseña </h1>

<form method="POST"> 
    {% csrf_token %}

    {{ form.new_password1.errors }}
    <label for="id_new_password1"> Nueva contraseña </label>
    {{ form.new_password1 }}

    {{ form.new_password2.errors }}
    <label for="id_new_password2">Confirmar contraseña</label>
    {{ form.new_password2 }}

    <button type="submit" class="btn btn-primary">Reestablecer</button>
</form>

{% else %}
    <h1 class="text-center"> Enlace invalido! Este enlace ya ha sido utilizado o ya expiró </h1>
{% endif %}
{% endblock content %}